* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
     
    background: #f9f9f9;
    min-height: 100vh;
    
    
  }
  .wrapper {
  
    box-sizing: content-box;
    padding: 1em 3em;
    /* background-color:rgba(0, 0, 0, .2); */
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 57%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
  }
  .game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: -2em;
  }
  .stats-container {
    text-align: right;
    margin-bottom: 1.2em;
  }
  .stats-container span {
    font-weight: 600;
  }
  .card-container {
    position: relative;
    width: 14em;
    height: 14em;
    cursor: pointer;
  }
  .card-before,
  .card-after {
    position: absolute;
    border-radius: 20%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid lightblue;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-before {
    background-color: #359381;
    font-size: 2.8em;
    font-weight: 600;
  }
  .card-after {
    background-color: #ffffff;
    transform: rotateY(180deg);
  }
  .card-container.flipped .card-before {
    transform: rotateY(180deg);
  }
  .card-container.flipped .card-after {
    transform: rotateY(0deg);
  }
  
  button {
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
  }
  #stop {
    font-size: 1.1em;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: #007bff;
    color: #ffffff;
  }
  .controls-container button {
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgba(86, 66, 0, 0.2);
  }
  .hide {
    display: none;
  }
  #result {
    text-align: center;
  }
  #result h2 {
    font-size: 2.5em;
  }
  #result h4 {
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;
  }
  body {
     
    background: #f9f9f9;
    min-height: 100vh;
    
    
  }
  header {
    position: absolute;
    top: 0;
    left: 0;
    width:  100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
  }
  .logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
  }
  
  
  .navigation a {
    text-decoration: none;
    color: #359381;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    padding: 6px 15px;
    border-radius: 20px;
    margin: center;
    font-weight: 600;
  }
  
  .navigation a:hover, .navigation a.active {
    background: #359381;
    color: #fff;
  }
  
  .parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #text {
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  }
  
  .parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
  }
  .sec {
    position: relative;
    background: #003329;
    padding: 100px;
  }
  .sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
  }
  .sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
  }
  .image{
    position: absolute;
    border-radius: 18px;
    width: 180px;
    height: 180px;
 
  }
  .headshot{
    pointer-events: none;
    height: 9%;
    width: 9%;
    border-radius: 50%;
    margin-right: 270px;
  }

  #id1 {
    width: 200px;
    height: 200px;

}
#id2 {
  width: 400px;
  height: 200px;

}
  @media screen and (max-width: 600px) {
    .game-container {
      position: relative;
      width: 100%;
      display: grid;
      gap: 0em;
  }
  .card-container {
    position: relative;
    width: 3.5em;
    height: 3.5em;
    cursor: pointer;
  }
  .wrapper {
    box-sizing: content-box;
    padding: 2.5em 3em;
    /* background-color: rgba(0, 0, 0, .2); */
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 19%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
  }
  
  .card-before, .card-after {
    position: absolute;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid lightblue;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
    
  }
  .card-before {
    background-color: #359381;
    font-size: 0.8em;
    font-weight: 600;
  }
  .card-after {
    background-color: #fff;
    font-size: 0.8em;
    font-weight: 600;
  }
  
  .navigation a {
    text-decoration: none;
    color: #359381;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    padding: 6px;
    border-radius: 5px;
    margin: auto;
    font-weight: 600;
    font-size: 5px;
  }
  
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
  }
  .headshot {
    pointer-events: none;
    height: 9%;
    width: 9%;
    border-radius: 50%;
    margin-right: 15px;
  }
  .parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
  }
  .image{
    position: absolute;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid #000000;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  #stop {
    font-size: 0.8em;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: #000000;
    color: #ffffff;
  }
  button {
    border: none;
    border-radius: 0.3em;
    padding: 0.5em;
    cursor: pointer;
  }
  }